# EXAM SIMULATION: 
## Starting time: 16.15
## End before: 18.15 --> at this point I had to start exercise 6
## Actual time at which I finished: 19.30

#### Notice: 
             1. the exam is considered finished once you've pulled the exercise on your GitHub repository. 
             2. during the exam you don't have access to internet, only a few library instructions.

1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [31]:
numbers = [i for i in range(1,101)]
print(numbers,'\n')

for i, num in enumerate (numbers): # In order to update the list's values I have to access them through an index
    if num%3 == 0 and num%5 == 0: 
        numbers[i] = 'MickeyMouse'
    elif num%3 == 0: 
        numbers[i] = 'Mickey'
    elif num%5 == 0:
        numbers[i] = 'Mouse' 

print(numbers,'\n')

numbers = tuple(numbers)

print(numbers,'\n')

for i,num in enumerate (numbers): 
    if num == 'Mickey': 
        numbers[i] = 'Donald'
    if num == 'Mouse': 
        numbers[i] = 'Duck'

print(numbers,'\n') # I get an error as expected because tuples are non-modifiable objects

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']

(1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse')

TypeError: 'tuple' object does not support item assignment

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable.

In [39]:
def swap_withtemp(x,y):
    z = x
    x = y
    y = z
    return (x,y)

print(swap_withtemp(2,3))

def swap_notemp(x,y): 
    return (y,x)

print(swap_notemp(2,3))

(3, 2)
(3, 2)

NameError: name 'sqrt' is not defined

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [48]:
import numpy as np

def is_two_tuple_of_floats(obj):
    if isinstance(obj, tuple) and len(obj) == 2 and all(isinstance(x, float) for x in obj):
        return True
    return False

def euclidean(u: tuple[float, float], v: tuple[float, float]) -> float : 
    if not (is_two_tuple_of_floats(u) and is_two_tuple_of_floats(v)): 
        raise TypeError("Arguments must be two-tuples of floats")
    return (np.sqrt((u[0]-v[0])**2 + (u[1]-v[1])**2))

print(euclidean((3.,0.),(0.,4.)))

a = [3,0]
b = [0,4]
print(euclidean(a,b))

5.0

TypeError: Arguments must be two-tuples of floats

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [78]:
numbers = [i for i in range(1,101)]
#print(numbers,'\n')

for i, num in enumerate (numbers): 
    if num%3 == 0 and num%5 == 0: 
        numbers[i] = 'MickeyMouse'
    elif num%3 == 0: 
        numbers[i] = 'Mickey'
    elif num%5 == 0:
        numbers[i] = 'Mouse' 

def string(list): 
    s = ''
    for inx,elem in enumerate(list): 
        s += str(list[inx])
    return s

string = string(numbers)
#print(string)
#print(string)

def count(string): 
    # Convert to lowercase to ignore capitalization differences
    string = string.lower()
    
    unique_characters = []
    counts = []
    
    for char in string:
        if char not in unique_characters: 
            unique_characters.append(char)
            count = 0
            for other_char in string: 
                if other_char == char:
                    count += 1
            counts.append(count)
    dictionary = dict(zip(unique_characters, counts))
    
    return dictionary

print(count(string))

{'1': 13, '2': 12, 'm': 53, 'i': 33, 'c': 33, 'k': 33, 'e': 53, 'y': 33, '4': 13, 'o': 20, 'u': 20, 's': 20, '7': 13, '8': 12, '3': 11, '6': 11, '9': 11, '5': 5}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [90]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def unique_numbers(l): 
    unique_num = []
    counts = []
    for num in l: 
        if num not in unique_num: 
            unique_num.append(num)
            count = 0
            for other_num in l: 
                if other_num == num: 
                    count += 1
        counts.append(count)
    dictionary = dict(zip(unique_num, counts))
    return dictionary
    
print(unique_numbers(l))

{36: 3, 45: 3, 58: 1, 3: 2, 74: 1, 96: 1, 64: 1, 31: 1, 10: 2, 24: 1, 19: 1, 33: 1, 86: 1, 99: 1, 18: 1, 63: 1, 70: 2, 85: 3, 47: 3, 56: 3, 42: 3, 84: 1, 88: 2, 55: 2, 20: 2, 54: 4, 8: 1, 51: 1, 79: 3, 81: 1, 57: 1, 37: 1, 91: 3, 1: 1, 66: 1, 9: 1, 89: 1, 50: 3, 95: 1, 90: 1, 98: 1, 39: 1, 16: 2, 82: 1, 92: 2, 41: 2, 30: 2, 34: 2, 94: 2, 5: 1, 72: 1, 87: 1, 75: 1, 53: 1}

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [94]:
def square(n): 
    return n**2

def cube(n): 
    return n**3

def six_pow(n):
    return square(cube(n))

print(six_pow(2))
print(2**6)

64
64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [107]:
loop = []
for i in range(0,11): 
    loop.append(i**3)
print(loop)

list = [i**3 for i in range(11)]
print(list)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [140]:
triples = []
for a in range(1, 101):
    for b in range(a+1, 101):
        for c in range (b+1, 101):
            if a**2 + b**2 == c**2: 
                triples.append((a,b,c))
print(triples)
print(len(triples))

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (28, 96, 100), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (60, 80, 100), (65, 72, 97)]
52

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [169]:
def normalize_tuple(t: tuple) -> tuple:
    total = sum(t)  # Calculate the sum of all elements
    if total == 0:
        raise ValueError("Sum of elements in the tuple is zero, can't normalize.")
    return tuple(x / total for x in t)  # Return a new tuple with normalized values

print(normalize_tuple((1,1)))

(0.5, 0.5)